@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcraVGwCKd6xB.woff2) format('woff2');
}

:root {
  font-family: 'Kanit', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Kanit', sans-serif !important;
}

body {
  font-family: 'Kanit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

#app {
  margin: 0 auto;
}


